.friendMessage {
    background-color: #F5F7FB;
    width: 527px;
    height: 60px;
    margin-top: 40px;
}

.friendImageAndText {

}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {

}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}

.friendTime {

}
